
<div class="row footer row-no-gutters" id="bottom-footer" >
      
  <div class="col-xs-12 col-md-5 text-center" >
      <ul class="vertical-links small">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
  </div>
  <div class="col-xs-12 col-md-2 text-center" >
    <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
  </div>
  <div class="col-xs-12 col-md-5 text-center" >
    <ul>
      <li class="small">© Copyright 2020 Website by <a href="#" style="color:white;font-weight:500;">Developer</a>. All Rights reserved.</li>
    </ul>
  </div>
</div> <!--  end row  -->


