
<!-- Toolbar -->
  <!-- 
  <div class="content" role="main">
  
   
    <div class="card-container">
      <a class="card" rel="noopener" routerLink="/login" (click)='showLogout()'>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
  
        <span>Login</span>
  
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
  
      
    </div>

  </div>

   -->
<!--   <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>:: SmoothLearning LLC ::</title>
      
  </head> -->
  
  <div class="welcomebody">
  
  <div style="margin:0 auto;">
  <div class="header">
      <div class="logo"></div>
        
        <div class="navigation">
        <ul class="navigation">
  
    <li class="home"><a href="#"></a></li>
    <li class="about"><a href="aboutUs.html"></a></li>
    <li class="product"><a href="#"></a>
    <ul><li><a routerLink="/login" (click)='showLogout()'></a></li></ul>
    </li>
    <li class="contact"><a href="sLContactUs.html"></a></li>
    
  </ul>
        </div>
        
      <div class="banner"></div>
  </div>
  
  <div class="content">

  <div class="txt">
  <h2>Our Mission</h2>
  <p>Welcome to Smoothlearning where educating individuals in building achievement in moving forward to a successful future from a health, financial or educational standpointis our #1 priority. Within our society so many people are challenged with how to maintain a healthy diet, have the proper educational tools while in school or being financially successful. Please try one of our products and see how each or a combination of all can be of great benefit to your future and career.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  </div>
  </div>
  
  
  </div>
</div>
<!--   </html> -->
   
  
