<!-- Default form contact -->
<form class="border border-light p-5 my-form" name="form" (ngSubmit)="isFromCancel=false; f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <p class="h4 mb-4" style="color: #d7e0a8; margin-top: -40px;">Input Class Information</p>
    <div class="container">

        <div class="row">
            <div class="form-group col-xs-3 col-md-3 text-left input-sm required">
                <label for="classname" class="control-label label-large">Class Name</label>
                <input type="input" [ngClass]="{'border-red':!isFromCancel && f.submitted && classname.errors?.required}" 
                class="form-control form-control-sm input" id="classname" name="classname" required 
                placeholder="Class Name" [(ngModel)]="className.classname" #classname="ngModel">
            </div>
            <div class="form-group col-xs-3 col-md-3 input-sm text-left">
                <label for="classtype" class="control-label label-large">Class Type</label>
                <input type="input" class="form-control form-control-sm input" id="classtype" name="classtype" required 
                placeholder="Class Type" [(ngModel)]="className.classtype" #classtype="ngModel">
                <!-- <input type="input" value='' class="form-control form-control-sm input" id="classtype" placeholder="Class Type"> -->
            </div>
            <div class="form-group col-xs-3 col-md-3 input-sm text-left required">
                <label for="classroom" class="control-label label-large">Class Room</label>
                <input type="input" [ngClass]="{'border-red':!isFromCancel &&  f.submitted && classroom.errors?.required}" 
                 class="form-control form-control-sm input" id="classroom" name="classroom" required 
                 placeholder="Class Room" [(ngModel)]="className.classroom" #classroom="ngModel">
                <!-- <input type="input" value='' class="form-control form-control-sm input" id="classroom" placeholder="Class Room"> -->
            </div>
            <div class="form-group col-xs-3 col-md-3 input-sm text-left required">
                <label for="instructor" class="control-label label-large">Instructor</label>
                <input type="input" [ngClass]="{'border-red':!isFromCancel &&  f.submitted && instructor.errors?.required}" 
                 class="form-control form-control-sm input" id="instructor" name="instructor" required 
                 placeholder="Instructor" [(ngModel)]="className.instructor" #instructor="ngModel">
                <!-- <input type="input" value='' class="form-control form-control-sm input" id="instructor" placeholder="Instructor"> -->
            </div>
            <div class="form-row error-message14" [hidden]="isFromCancel">
                <span style="width: 612px;">
                   <font *ngIf="f.submitted && classname.errors?.required" color="red">Class Name is required</font></span>
                <span style="width: 308px;">
                   <font *ngIf="f.submitted && classroom.errors?.required" color="red">Class Room is required</font></span>  
                <span style="width: 150px;">
                   <font *ngIf="f.submitted && instructor.errors?.required" color="red">Instructor is required</font></span>     
            </div>
            
        </div>
        <div class="row">
            <div class="form-group col-xs-3 col-md-3 input-sm text-left required">
                <label for="semester" class="control-label label-large">Academic Term</label>
                <select class="ng-prinstine ng-valid ng-touched input form-control form-control-sm" 
                 [ngClass]="{'border-red':!isFromCancel &&  f.submitted && semester.errors?.required}" 
                  id="semester" name="semester" required 
                  [(ngModel)]="className.semester" #semester="ngModel">
                  <option *ngFor="let term of academicTerms" [ngValue]="term.value"
                    [selected]="term.value == className.semester">{{term.label}}</option>
                </select>               
            </div>
            <div class="form-group col-xs-3 col-md-3 text-left input-sm required">
                <label for="classname" class="control-label label-large">Semester Start Date</label>
                <input type="Date" [ngClass]="{'border-red':!isFromCancel &&  f.submitted && classname.errors?.required}" 
                class="form-control form-control-sm input" id="semStartDate" name="semStartDate" required 
                placeholder="Semester Start Date" [(ngModel)]="className.semStartDate" 
                #semStartDate="ngModel" useValueAsDate>
            </div>
           <!--  <div class="form-group col-xs-3 col-md-3 text-left input-sm required">
              <label for="classname" class="control-label label-large">Semester Start Date</label>
              <input type="Date" [ngClass]="{'border-red': f.submitted && classname.errors?.required}" 
              class="form-control form-control-sm input" id="semStartDate" name="semStartDate" required 
              placeholder="Semester Start Date" [(ngModel)]="className.semStartDate" 
              (ngModelChange)="className.semStartDate = $event"  #semStartDate="ngModel" useValueAsDate> 
          </div>-->
            <div class="form-group col-xs-3 col-md-3 text-left input-sm required">
                <label for="classname" class="control-label label-large">Semester End Date</label>
                <input type="Date" [ngClass]="{'border-red':!isFromCancel &&  f.submitted && classname.errors?.required}" 
                class="form-control form-control-sm input" id="semEndDate" name="semEndDate" required 
                placeholder="Semester End Date" [(ngModel)]="className.semEndDate" 
                (ngModelChange)="className.semEndDate = $event"  #semEndDate="ngModel" useValueAsDate>
           
            </div>
            <div class="form-row error-message14"  [hidden]="isFromCancel">
                <span style="width: 306px;">
                   <font *ngIf="f.submitted && semester.errors?.required" color="red">Academic Term is required</font></span>
                <span style="width: 308px;">
                   <font *ngIf="f.submitted && semStartDate.errors?.required" color="red">Semester Start Date is required</font></span>  
                <span style="width: 200px;">
                   <font *ngIf="f.submitted && semEndDate.errors?.required" color="red">Semester End Date is required</font></span>     
            </div>        
           
            
        </div>
        <div class="row">
          <div class="form-group flex-fill mr-2 text-left">
            <label for="description" class="control-label label-large" style="padding-left: 12px;">Description</label>
            <textarea class="form-control rounded-0 my-textarea input" name="description" id="description" rows="3" [(ngModel)]="className.description" placeholder="Description"></textarea>
          </div>
        </div>

     
    </div>
    
    

    <!-- Send button -->
    <center>
     <!--  {{ dateValue }} -->
    <!--   {{isFromCancel}} -->
      <ng-template [ngIf]="isUpdate" [ngIfElse]="addButton">
        <div class="" style="display: inline; padding-top: 3.5em; " >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                   <button type="submit" class="myButton">Update Class</button>&nbsp;&nbsp;
        </div>
      </ng-template>   
      <ng-template #addButton >
        <div class="" style="display: inline; padding-top: 3.5em; " >
          &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="myButton">Add Class</button>&nbsp;&nbsp;
        </div>
      </ng-template>
      
        <div class="" style="display: inline; padding-top: 3.5em; ">
          &nbsp;&nbsp;&nbsp;&nbsp;
     <!-- <button   [routerLink]="'/welcome'" class="myButton">Add Class</button>&nbsp;&nbsp; -->
        <button (click)="isFromCancel=true; cancel(); $event.preventDefault()" class="myButton">Cancel</button>&nbsp;&nbsp;
       
        </div>
    </center>  
    <br/>  
    <center>
      <div tyle="display: block;  padding-top:0em;">
        <font color="green"><span id="message"></span></font>
      </div>
      <span [hidden]="hideErrorMessage" class="help-block" style="color: red; ">
         <h3>{{errorMessage}}</h3>
      </span>
      <div tyle="display: block;  padding-top:1em;">
        <font color="green"><span id="message"></span></font>
      </div>
      <span [hidden]="hideMessage" class="help-block" style="color: rgb(6, 128, 46); margin-top: -28px;">
        <strong>{{message}}</strong>
      </span> 
    </center>
</form>
<!-- Default form contact -->
<br/>
<center> 
<div style="width: 1378px; height: 400px; margin-left: -132px;">
  <ag-grid-angular 
    #agGrid
    id="myGrid"
    style="width: 100%; height: 100%;" 
    class="ag-theme-blue"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (rowClicked)='onRowClicked($event)'
    [modules]="modules"
    [frameworkComponents]="frameworkComponents"
    >
</ag-grid-angular>
  <!--   <ag-grid-angular
      #agGrid
      style="width: 100%; height: 100%;"
      id="myGrid"
      class="ag-theme-alpine"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [masterDetail]="true"
      [detailCellRendererParams]="detailCellRendererParams"
      [defaultExportParams]="defaultExportParams"
      [excelStyles]="excelStyles"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular> -->
</div>
</center>