<div class="modal-header" >
    <center><b> <h2 class="modal-title">Role : {{roleBean.roleName}} </h2></b></center>
     <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close('close')">
       <span aria-hidden="true">&times;</span>
     </button>
  </div>
  
  <form #roleForm="ngForm" (ngSubmit)="isFromCancel=false; roleForm.form.valid && onSubmit()">
    <div class="container">
       <div class="row">
         <div class="form-group col-xs-3 col-md-3 text-left input-sm">
             <label for="roleId" class="control-label label-large">ID</label>
             <input type="input" 
             class="form-control form-control-sm input" id="roleId" name="roleId" readonly 
              [(ngModel)]="roleBean.pkRoleId" #roleId="ngModel">
      
         </div>
         <div class="form-group col-xs-4 col-md-4 input-sm text-left required">
             <label for="roleName" class="control-label label-large">Role Name</label>
             <input type="input" [ngClass]="{'border-red':!isFromCancel && roleForm.submitted && roleName.errors?.required}" 
               class="form-control form-control-sm input" id="roleName" name="roleName" required 
               placeholder="Role Name" [(ngModel)]="roleBean.roleName" #roleName="ngModel">
             <font class="text-nowrap" *ngIf="roleForm.submitted && roleName.errors?.required" color="red">Role Name is required</font>
        </div>

       </div>
       <div class="row">
         <div class="form-group col-xs-7 col-md-7 input-sm text-left">
            <label for="description" class="control-label label-large">Role Description</label>
            <input type="input"  
              class="form-control form-control-sm input" id="description" name="description" required 
              placeholder="Role Description" [(ngModel)]="roleBean.description" #description="ngModel">
         </div>      
       </div>
    </div>
  
    <div class="modal-body" >
      
        <center>
          <!--  {{ dateValue }} -->
         <!--   {{isFromCancel}} -->
           <ng-template [ngIf]="isUpdate" [ngIfElse]="addButton">
             <div class="" style="display: inline; padding-top: 3.5em; " >
                       &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="myButton">Update Role</button>&nbsp;&nbsp;
             </div>
           </ng-template>   
           <ng-template #addButton >
             <div class="" style="display: inline; padding-top: 3.5em; " >
               &nbsp;&nbsp;&nbsp;&nbsp;
                   <button type="submit" class="myButton">Save Role</button>&nbsp;&nbsp;
             </div>
           </ng-template>
           
             <div class="" style="display: inline; padding-top: 3.5em; ">
               &nbsp;&nbsp;&nbsp;&nbsp;
                 <button (click)="isFromCancel=true; cancel(); $event.preventDefault()" class="myButton">Cancel</button>&nbsp;&nbsp;
             </div>
             <div class="" style="display: inline; padding-top: 3.5em; ">
              &nbsp;&nbsp;&nbsp;&nbsp;
                <button (click)="activeModal.close('Close click')" class="myButton">Exit</button>&nbsp;&nbsp;
            </div>
         </center> 
         <br/> 

        <div [hidden]="hideSucceed" class="alert alert-success alert-dismissible fade show">
          <strong> {{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert">&times;</button> 
        </div>
        <div [hidden]="hideError" class="alert alert-danger alert-dismissible fade show" >
          <strong>Failed!</strong> {{errorMessage}}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
  
      </div>
      
    <div class="center" *ngIf="IsWait">
      <mat-progress-spinner diameter=50 
        overlay=true
        mode="indeterminate"
        color="accent">
      </mat-progress-spinner>
    </div>

      <div class="center">  
            <app-spinner></app-spinner>
      </div>

  </form>
  
   

