<div class="modal-header" >
   <center><b> <h2 class="modal-title">Class Schedule of {{ className.classname }}</h2></b></center>
    <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close('close')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<form #scheduleForm="ngForm" (ngSubmit)="isFromCancel=false; scheduleForm.form.valid && onSubmit()">
  <div class="container">
     <div class="row">
      <div class="form-group col-xs-4 col-md-4 text-left input-sm required">
        <label for="weekDay" class="control-label label-large">Day of Week</label>
        <select class="form-control ng-prinstine ng-valid ng-touched input" 
        [ngClass]="{'border-red': scheduleForm.submitted && weekDay.errors?.required}" 
         id="weekDay" name="weekDay" required 
         [(ngModel)]="classdayOfWeek.weekday" #weekDay="ngModel">
         <option [ngValue]="weekDay.value" [selected]="weekDay.value == classdayOfWeek.weekday" 
          *ngFor="let weekDay of weekDayOptions" >{{weekDay.label}}</option>
       </select>
    </div>
    <div class="form-group col-xs-3 col-md-3 input-sm text-left  required">
      <label for="starttime" class="control-label label-large">Class Start Time</label>
      <input type="time" class="form-control input"
      [ngClass]="{'border-red': (starttime.errors?.incorrect) || (scheduleForm.submitted && starttime.errors?.required)}"
       id="starttime" #starttime="ngModel" required [(ngModel)]="classdayOfWeek.starttime"
       name="starttime">
    </div>
    <div class="form-group col-xs-3 col-md-3 input-sm text-left  required">
      <label for="endtime" class="control-label label-large">Class End Time</label>
      <input type="time" class="form-control input"
      [ngClass]="{'border-red': (endtime.errors?.incorrect) || (scheduleForm.submitted && endtime.errors?.required)}"
       id="endtime" #endtime="ngModel" required [(ngModel)]="classdayOfWeek.endtime"
       name="endtime">
    </div>  
    <div class="form-row error-message14" [hidden]="isFromCancel">
      <span style="width: 612px;">
         <font *ngIf="scheduleForm.submitted && weekDay.errors?.required" color="red">Day of Week is required</font></span>
      <span style="width: 308px;">
         <font *ngIf="scheduleForm.submitted && starttime.errors?.required" color="red">Start Time is required</font></span>  
      <span style="width: 150px;">
         <font *ngIf="scheduleForm.submitted && endtime.errors?.required" color="red">End Time is required</font></span>     
    </div>
  
    </div>
  </div>



  <div class="modal-body" >
     <!--  <div [hidden]="submitted" style="width: 100%">
      
          <div class="form-group">
            <label for="weekDay">Day of Week</label>
                <select class="form-control ng-prinstine ng-valid ng-touched input" 
                 [ngClass]="{'border-red': scheduleForm.submitted && weekDay.errors?.required}" 
                  id="weekDay" name="weekDay" required 
                  [(ngModel)]="classdayOfWeek.weekday" #weekDay="ngModel">
                  <option [ngValue]="weekDay.value" [selected]="weekDay.value == classdayOfWeek.weekday" 
                   *ngFor="let weekDay of weekDayOptions" >{{weekDay.label}}</option>
                </select>
          
            <div class="alert alert-danger" *ngIf="scheduleForm.submitted && weekDay.errors?.required">
                <div *ngIf="weekDay.errors.required">Week Day is required.</div>   
            </div>
          </div> 
      
         <div class="form-group">
            <label for="name">Class Start Time</label>
            <input type="time" class="form-control input"
             [ngClass]="{'border-red': (starttime.errors?.incorrect) || (scheduleForm.submitted && starttime.errors?.required)}"
              id="starttime" #starttime="ngModel" required [(ngModel)]="classdayOfWeek.starttime"
              name="starttime">
            <div class="alert alert-danger" *ngIf="scheduleForm.submitted && starttime.errors?.required">
                Class Start Time is required.      
            </div>
        </div> 
      
         <div class="form-group">
            <label for="name">Class End Time</label>
            <input type="time" class="form-control input" 
             [ngClass]="{'border-red': ((endtime.errors?.incorrect) || (scheduleForm.submitted && endtime.errors?.required))}"
              id="endtime" #endtime="ngModel" required [(ngModel)]="classdayOfWeek.endtime" 
              (blur)="validateTimes()" name="endtime">
            <div class="alert alert-danger" *ngIf="scheduleForm.submitted && endtime.errors?.required">
                Class Start Time is required.      
            </div>
        </div> 
      
      </div> -->
      <center>
        <!--  {{ dateValue }} -->
       <!--   {{isFromCancel}} -->
         <ng-template [ngIf]="isUpdate" [ngIfElse]="addButton">
           <div class="" style="display: inline; padding-top: 3.5em; " >
                     &nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="submit" class="myButton">Update Schedule</button>&nbsp;&nbsp;
           </div>
         </ng-template>   
         <ng-template #addButton >
           <div class="" style="display: inline; padding-top: 3.5em; " >
             &nbsp;&nbsp;&nbsp;&nbsp;
                 <button type="submit" class="myButton">Save Schedule</button>&nbsp;&nbsp;
           </div>
         </ng-template>
         
           <div class="" style="display: inline; padding-top: 3.5em; ">
             &nbsp;&nbsp;&nbsp;&nbsp;
               <button (click)="isFromCancel=true; cancel(); $event.preventDefault()" class="myButton">Cancel</button>&nbsp;&nbsp;
           </div>
           <div class="" style="display: inline; padding-top: 3.5em; ">
            &nbsp;&nbsp;&nbsp;&nbsp;
              <button (click)="activeModal.close('Close click')" class="myButton">Exit</button>&nbsp;&nbsp;
          </div>
       </center> 
       <br/> 
      <div [hidden]="hideSucceed" class="alert alert-success alert-dismissible fade show">
        <strong> {{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert">&times;</button> 
      </div>
      <div [hidden]="hideError" class="alert alert-danger alert-dismissible fade show" >
        <strong>Failed!</strong> {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>

    </div>
    
   <!--  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="activeModal.close('Close click')">Cancel</button>
      <button type="submit" class="btn btn-primary" >Save Schedule</button>
    </div>
   -->
  <div class="center" *ngIf="IsWait">
    <mat-progress-spinner diameter=50 
      overlay=true
      mode="indeterminate"
      color="accent">
    </mat-progress-spinner>
  </div>
  <!-- <mat-spinner></mat-spinner> -->
  <!-- <div class="overlay" *ngif="IsWait" > -->
    <!-- <div class="center" *ngIf="IsWait"> -->
    <div class="center">  
        <!-- <mat-progress-spinner diameter=50 
                          overlay=true
	                      mode="indeterminate"
						  color="accent">
        </mat-progress-spinner>  -->
        <app-spinner></app-spinner>
    </div>
  <!-- </div> -->
  <!-- </div> -->
</form>
<br/>
<center> 
<div style="width: 800px; height: 250px; margin-left: 0px;">
  <ag-grid-angular 
    #agGrid
    id="myGrid"
    style="width: 100%; height: 100%;" 
    class="ag-theme-blue"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (rowClicked)='onRowClicked($event)'
    [modules]="modules"
    [frameworkComponents]="frameworkComponents"
    >
</ag-grid-angular>
</div>
</center>