@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-dialog-container {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: block;
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(111, 122, 122); 
  background: #262626;
  width: 100%;
  height: 100%; }
  @media screen and (-ms-high-contrast: active) {
  md-dialog-container {
  outline: solid 1px; } 
}

.mat-typography {
  background-image: url(/assets/images/bg.jpg);
}

.input {
  border: 1px solid #006;
  background: #ffc;
}
.input:hover {
  border: 1px solid #f00;
  background: #ff6 !important;
}

.myButton {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Times New Roman;
  font-size:17px;
  padding:2px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
  text-decoration: none;
  color:gold;
}
.myButton:active {
  position:relative;
  top:1px;
}

.myButton[disabled] {
  background-color: #d1564b;
}

.border-red {
  border: 1.2px solid red;
}

.mybtn {
  box-shadow: 2px 1px 1px 0px #286090;
  background: linear-gradient(to bottom, #286090 5%, #46b8da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#286090', endColorstr='##46b8da',GradientType=0);
  color: #fff;
  background-color: #46b8da;
  border-color: #46b8da;
  border-radius: 6px;
  border: 1px solid #286092;
  display: inline-block;
  cursor: pointer;
  padding: 0px 12px 0px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #122b40;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 22px;
}

.mybtn:hover{
  color: rgb(230, 240, 140);
  background-color: #099add;
  padding: 0px 12px 0px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
