<div class="modal-header" >
    <center><b> <h2 class="modal-title">Privilege : {{privilegeBean.privName}} </h2></b></center>
     <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close('close')">
       <span aria-hidden="true">&times;</span>
     </button>
  </div>
  
  <form #privilegeForm="ngForm" (ngSubmit)="isFromCancel=false; privilegeForm.form.valid && onSubmit()">
    <div class="container">
       <div class="row">
         <div class="form-group col-xs-3 col-md-3 text-left input-sm">
             <label for="privilegeId" class="control-label label-large">ID</label>
             <input type="input" 
             class="form-control form-control-sm input" id="privilegeId" name="privilegeId" readonly 
              [(ngModel)]="privilegeBean.pkPrivilegeId" #privilegeId="ngModel">
      
         </div>
         <div class="form-group col-xs-4 col-md-4 input-sm text-left required">
             <label for="privName" class="control-label label-large">Privilege Name</label>
             <input type="input" [ngClass]="{'border-red':!isFromCancel && privilegeForm.submitted && privName.errors?.required}" 
               class="form-control form-control-sm input" id="privName" name="privName" required 
               placeholder="Privilege Name" [(ngModel)]="privilegeBean.privName" #privName="ngModel">
             <font class="text-nowrap" *ngIf="privilegeForm.submitted && privName.errors?.required" color="red">Privilege Name is required</font>
        </div>

       </div>
       <div class="row">
         <div class="form-group col-xs-7 col-md-7 input-sm text-left">
            <label for="privDesc" class="control-label label-large">Privilege Description</label>
            <input type="input"  
              class="form-control form-control-sm input" id="privDesc" name="privDesc" required 
              placeholder="Privilege Description" [(ngModel)]="privilegeBean.privDesc" #privDesc="ngModel">
         </div>      
       </div>
    </div>
  
    <div class="modal-body" >
      
        <center>
          <!--  {{ dateValue }} -->
         <!--   {{isFromCancel}} -->
           <ng-template [ngIf]="isUpdate" [ngIfElse]="addButton">
             <div class="" style="display: inline; padding-top: 3.5em; " >
                       &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="myButton">Update Privilege</button>&nbsp;&nbsp;
             </div>
           </ng-template>   
           <ng-template #addButton >
             <div class="" style="display: inline; padding-top: 3.5em; " >
               &nbsp;&nbsp;&nbsp;&nbsp;
                   <button type="submit" class="myButton">Save Privilege</button>&nbsp;&nbsp;
             </div>
           </ng-template>
           
             <div class="" style="display: inline; padding-top: 3.5em; ">
               &nbsp;&nbsp;&nbsp;&nbsp;
                 <button (click)="isFromCancel=true; cancel(); $event.preventDefault()" class="myButton">Cancel</button>&nbsp;&nbsp;
             </div>
             <div class="" style="display: inline; padding-top: 3.5em; ">
              &nbsp;&nbsp;&nbsp;&nbsp;
                <button (click)="activeModal.close('Close click')" class="myButton">Exit</button>&nbsp;&nbsp;
            </div>
         </center> 
         <br/> 

        <div [hidden]="hideSucceed" class="alert alert-success alert-dismissible fade show">
          <strong> {{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert">&times;</button> 
        </div>
        <div [hidden]="hideError" class="alert alert-danger alert-dismissible fade show" >
          <strong>Failed!</strong> {{errorMessage}}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
  
      </div>
      
    <div class="center" *ngIf="IsWait">
      <mat-progress-spinner diameter=50 
        overlay=true
        mode="indeterminate"
        color="accent">
      </mat-progress-spinner>
    </div>

      <div class="center">  
            <app-spinner></app-spinner>
      </div>

  </form>
  
   
